@import "ColorPallet";

.app
{
  display: flex;
  justify-content: center;

  .container
  {
    //Contanier Setup
    width: 100vw;
    height: 100vh; 
    /* Use my premade gradient */
    @extend .custom-gradient; 

    //Links
    .link
    {
      text-decoration: none;
      color: $DarkBlue;
    }

  }
}