@import "ColorPallet";

body 
{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
}

.app
{
  display: flex;
  justify-content: center;

  .container
  {
    //Contanier Setup
    width:  100%;
    height: 100%; 

    /* Use my premade gradient */
    @extend .custom-gradient; 
      
  }
}