@import "ColorPallet";
.signIn 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed for your layout */
    
    p
    {
        font-size: 24px;
        color: $White;
        margin-bottom: 50px;
    }

    label 
    {
        color: $White;
    }


    .signInBox 
    {
        background-color: $DeepDarkBlue;
        padding: 40px;
        border-radius: 20px;
        width: 400px;
        height: 500px;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        
        /* Add any additional styling you want for the sign-in box */
        

        input 
        {
            width: 100%;
            padding: 8px;
            margin: 16px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        button 
        {
            background-color: $LightBlue;
            
            font-weight: 700;
            color: $DeepDarkBlue;
            width: 75%;
            height: 40px;
            padding: 10px 15px;
            border: none;
            border-radius: 13px;
            cursor: pointer;
            font-size: 16px;
        }

        .userButton
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;

            @extend .custom-Button; 
        }

        .artistButton
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            @extend .custom-Button; 
        }
        
        .signUpLink
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            Color: $Blue;

            &:hover 
            {
                
                transform: scale(1.02); /* Scale up by 10% on hover */
            }

        }

    }
  
  }