@import "../ColorPallet";

.headerBox
{

    header
    {
        //Text
        span
        {
            color: white;
            font-size: xx-large;
            margin-left: 22px;
        }
        
        padding: 10px;
        background-color: $DeepDarkBlue;
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 15px;

        img
        {
            height: 50px;
        }
    }
}
