@import "../ColorPallet";

.musicPlayerBox
{
    margin: 0;
    padding: 0;
    display:  flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    background-color: $DeepDarkBlue;


    .imageAndInfo
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: transparent;
        border: none;
        margin-left: 20px;

        
        
        img
        {
            height: 70px;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.04)
        }
        
        
        .songInfo
        {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: $White;
            
            .mainText
            {
                font-size: 18px;
            }

            .subText
            {
                margin-top: 4px;
                color: $OffWhite;
                font-size: 11px;
            }
        }

    }

    .musicController
    {
        audio 
        {
            outline: none;
        }
    }

}
