@import "../ColorPallet";

.artistSignIn 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed for your layout */
    

    .artistSignInBox 
    {
        background-color: $DeepDarkBlue;
       
        border-radius: 20px; 
        width: 330px;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px; 
        margin-bottom: 70px;
        
        p
        {
            font-size: 24px;
            color: $White;
            margin-bottom: 50px;
        }

        
       .usernameField
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            margin-bottom: 20px;

            @extend.custom-Input;
        }

        .passwordField
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            margin-bottom: 0px;

            @extend.custom-Input;
            
        }


        .signInButton 
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            width: 100%;
  
            .customButton 
            {
                width: 60%;
                height: 15px;
            }
            
            @extend .custom-Button; 

        }

        .backButton 
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 220px;
            width: 100%;
  
            .customButton 
            {
                width: 30%;
                height: 15px;
            }
            
            @extend .custom-Button; 

        }
    }
  
}